resources/n8n/Sei MCP Demo.json
{
  "name": "Sei MCP Demo",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        992
      ],
      "id": "7cd2a47a-4d4e-4b34-a2a4-5828d9c192f6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "connectionType": "http"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        -208,
        992
      ],
      "id": "357f4987-f29e-431a-a5ff-66010a61460d",
      "name": "List Tools",
      "credentials": {
        "mcpClientHttpApi": {
          "id": "HFEu6To38e9Sx3Ta",
          "name": "Seiling Sei MCP Server"
        }
      }
    },
    {
      "parameters": {
        "connectionType": "http",
        "operation": "executeTool",
        "toolName": "=get_chain_info",
        "toolParameters": "{\n  \"network\": \"sei-testnet\"\n}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        16,
        320
      ],
      "id": "084bdb8b-c854-4ed0-a344-09c4bada39c7",
      "name": "Get Chain Info",
      "credentials": {
        "mcpClientHttpApi": {
          "id": "HFEu6To38e9Sx3Ta",
          "name": "Seiling Sei MCP Server"
        }
      }
    },
    {
      "parameters": {
        "connectionType": "http",
        "operation": "executeTool",
        "toolName": "=get_supported_networks",
        "toolParameters": "{\n}"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        16,
        512
      ],
      "id": "0bc67b77-7473-4c27-859a-d6533352ef0f",
      "name": "Get Supported Networks",
      "credentials": {
        "mcpClientHttpApi": {
          "id": "HFEu6To38e9Sx3Ta",
          "name": "Seiling Sei MCP Server"
        }
      }
    },
    {
      "parameters": {
        "connectionType": "http",
        "operation": "executeTool",
        "toolName": "=get_latest_block",
        "toolParameters": "={\n  \"network\": \"{{ $('Config').item.json.network }}\"\n} "
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        16,
        704
      ],
      "id": "3aba10c9-abd1-4466-afcf-57e42005c944",
      "name": "Get Latest Block",
      "credentials": {
        "mcpClientHttpApi": {
          "id": "HFEu6To38e9Sx3Ta",
          "name": "Seiling Sei MCP Server"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "093fcc40-822f-4c49-9903-8c60be164fb0",
              "name": "network",
              "value": "sei-testnet",
              "type": "string"
            },
            {
              "id": "f68513c2-45a3-4dcf-bcf3-d02c104e787f",
              "name": "address",
              "value": "0xF12d64817029755853bc74a585EcD162f63c5f84",
              "type": "string"
            },
            {
              "id": "30472f60-0246-420f-802a-eccec81e7bf2",
              "name": "token_contract_address",
              "value": "0x72a134B8981f61C6F2DD8EB0dAfD561Eee618F8f",
              "type": "string"
            },
            {
              "id": "af6ab668-d452-4127-b3c1-b367f2d6f5db",
              "name": "amount",
              "value": "0.012345",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        992
      ],
      "id": "87f19550-8fb2-4daf-a875-35bf2b8b739e",
      "name": "Config"
    },
    {
      "parameters": {
        "connectionType": "http",
        "operation": "executeTool",
        "toolName": "=get_block_by_number",
        "toolParameters": "={\n  \"blockNumber\": {{ JSON.parse($json.result.content[0].text).number }},\n  \"network\": \"sei-testnet\"\n} "
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        240,
        704
      ],
      "id": "bb0cc2db-0c9c-428b-b6e4-ce12c40c264a",
      "name": "Get Block By Number",
      "credentials": {
        "mcpClientHttpApi": {
          "id": "HFEu6To38e9Sx3Ta",
          "name": "Seiling Sei MCP Server"
        }
      }
    },
    {
      "parameters": {
        "connectionType": "http",
        "operation": "executeTool",
        "toolName": "=get_balance",
        "toolParameters": "={\n  \"address\": \"{{ $('Config').item.json.address }}\",\n  \"network\": \"{{ $('Config').item.json.network }}\"\n} "
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        16,
        896
      ],
      "id": "c5ca8efc-8f3d-47b5-ae8c-76ac586a4cbf",
      "name": "Get Balance",
      "credentials": {
        "mcpClientHttpApi": {
          "id": "HFEu6To38e9Sx3Ta",
          "name": "Seiling Sei MCP Server"
        }
      }
    },
    {
      "parameters": {
        "connectionType": "http",
        "operation": "executeTool",
        "toolName": "=get_erc20_balance",
        "toolParameters": "={\n  \"address\": \"{{ $('Config').item.json.address }}\",  \n  \"tokenAddress\": \"{{ $('Config').item.json.token_contract_address }}\",\n  \"network\": \"{{ $('Config').item.json.network }}\"\n} "
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        16,
        1088
      ],
      "id": "fb5e5d1a-d514-4c93-ad7d-5b4b61c00b6b",
      "name": "Get ERC20 Balance",
      "credentials": {
        "mcpClientHttpApi": {
          "id": "HFEu6To38e9Sx3Ta",
          "name": "Seiling Sei MCP Server"
        }
      }
    },
    {
      "parameters": {
        "connectionType": "http",
        "operation": "executeTool",
        "toolName": "=get_address_from_private_key",
        "toolParameters": "={\n} "
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        16,
        1280
      ],
      "id": "c639cb6e-fbc5-44f7-b44d-cb421259487e",
      "name": "Get Address",
      "credentials": {
        "mcpClientHttpApi": {
          "id": "HFEu6To38e9Sx3Ta",
          "name": "Seiling Sei MCP Server"
        }
      }
    },
    {
      "parameters": {
        "connectionType": "http",
        "operation": "executeTool",
        "toolName": "=transfer_erc20",
        "toolParameters": "={ \n  \"tokenAddress\": \"{{ $('Config').item.json.token_contract_address }}\",\n  \"toAddress\": \"{{ $('Config').item.json.address }}\", \n  \"amount\": \"{{ $('Config').item.json.amount }}\", \n  \"network\": \"{{ $('Config').item.json.network }}\"\n} "
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        16,
        1472
      ],
      "id": "732146a0-2dd7-4fa4-a8ea-cef6fa631807",
      "name": "Transfer Token",
      "credentials": {
        "mcpClientHttpApi": {
          "id": "HFEu6To38e9Sx3Ta",
          "name": "Seiling Sei MCP Server"
        }
      }
    },
    {
      "parameters": {
        "connectionType": "http",
        "operation": "executeTool",
        "toolName": "=transfer_sei",
        "toolParameters": "={ \n  \"to\": \"{{ $('Config').item.json.address }}\", \n  \"amount\": \"{{ $('Config').item.json.amount }}\", \n  \"network\": \"{{ $('Config').item.json.network }}\"\n} "
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        16,
        1664
      ],
      "id": "2a19f0f5-b4a7-4e2c-9e82-11a6095ee656",
      "name": "Transfer Sei",
      "credentials": {
        "mcpClientHttpApi": {
          "id": "HFEu6To38e9Sx3Ta",
          "name": "Seiling Sei MCP Server"
        }
      }
    },
    {
      "parameters": {
        "content": "# **Sei MCP Demo Workflow**\n\nThis workflow demonstrates how to use MCP tools to interact with the Sei blockchain. It covers listing available tools, fetching chain/network info, checking balances (native and ERC20), and transferring tokens (SEI and ERC20).\n\n## **Credentials:** \nMCP Client HTTP (set up in n8n credentials)\n\n## **Setup:** \nEdit the Config node to set your network (e.g., `sei-testnet`), wallet address, token contract address, and transfer amount.\n\n## **How to Use:** \nClick \"Execute workflow\" to run. Each node performs a blockchain action using the MCP client.\n\n## **Tip:** \nMake sure your MCP credentials are valid and the target network is correct.\n",
        "height": 592,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -688,
        320
      ],
      "id": "62f75389-524f-4b5f-b12b-953d187743e1",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Tools": {
      "main": [
        [
          {
            "node": "Get Chain Info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Supported Networks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Latest Block",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Balance",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get ERC20 Balance",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Address",
            "type": "main",
            "index": 0
          },
          {
            "node": "Transfer Token",
            "type": "main",
            "index": 0
          },
          {
            "node": "Transfer Sei",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "List Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest Block": {
      "main": [
        [
          {
            "node": "Get Block By Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9cf1e048-a971-4d38-9263-507e4c6ef981",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4a444303badf7ebf22cea6d4f93b6056b2894500f8341c4e12c2a0eece7fd61e"
  },
  "id": "led0yV7OxpE2Is37",
  "tags": []
}